node_modules
.DS_Store
dist
dist-ssr
*.local

config.user-overrides.json
config/config.dev.user-overrides.json
config/config.beta.user-overrides.json
config/config.prod.user-overrides.json
config.json
secrets.json
